@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-outline-success" asp-controller="Login" asp-action="Index">Login</a>
    <a class="btn btn-outline-success" asp-controller="Login" asp-action="SignUp">Sign Up</a>
</div>
