@model Members

<form method="post">

    <div>
        <div>
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control"/>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>

</form>


